[submodule "cmake/jfc-cmake"]
	path = cmake/jfc-cmake
	url = https://github.com/jfcameron/jfc-cmake.git
[submodule "extern/jfc-http"]
	path = extern/jfc-http
	url = https://github.com/jfcameron/jfc-http.git
